<div class="tr-container">
    <div class="container d-flex justify-content-between align-items-center tr-header">
        <i data-feather="arrow-left" ui-sref="user.dashboard"></i>
        <h6>Comments</h6>
        <div style="width: 24px">&nbsp;</div>
    </div>
    <div class="tr-content">
        <div class="container text-center mg-b-3">
            <img src="../../img/inf.png" class="img-fluid" tr-image-changer="pic">
        </div>
        <div class="container text-right mt-2">
            <textarea class="form-control" rows="2" placeholder="Enter your comment"></textarea>
            <button class="btn btn-primary mt-1 px-5 py-1">Send</button>
        </div>
        <div class="container tr-comments">
            <small class="text-secondary">Dian</small>
            bla bla bla
            <hr>
            <small class="text-secondary">Dian</small>
            bla bla bla
            <hr>
        </div>
    </div>
</div>