<h4 class="container">Period 26-30 August 2019</h4>
<div class="container d-flex justify-content-between text-secondary">
    <h5>Monday</h5>
    <small>26 August 2019</small>
</div>
<div class="container">
    <div class="card mb-2">
        <div class="card-body">
            <h6>Breakfast</h6>
            hallo indonesia
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <h6>Lunch</h6>
            hallo indonesia
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Snack</h6>
            hallo indonesia
        </div>
    </div>
</div>
<hr>

<div class="container d-flex justify-content-between text-secondary">
    <h5>Tuesday</h5>
    <small>27 August 2019</small>
</div>
<div class="container">
    <div class="card mb-2">
        <div class="card-body">
            <h6>Breakfast</h6>
            hallo indonesia
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <h6>Lunch</h6>
            hallo indonesia
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h6>Snack</h6>
            hallo indonesia
        </div>
    </div>
</div>
<hr>