dashboard .tr-status {
    zoom: 0.7;
}

dashboard .tr-label {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

dashboard .tr-img-thumbnail {
    width: 100px;
    height: 100px;
}