<form class="container" name="formLogin" ng-submit="login()">
    <img src="../../img/Mealt.png" class="img-fluid px-4 pb-4">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="data.username" required>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="data.password" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit">Login</button>
    </div>
</form>