<div class="container my-3">
    <input type="text" class="form-control text-center" placeholder="Search meal">
</div>
<div class="container">
    <div class="d-flex justify-content-between border-bottom border-silver mt-3 pb-3">
        <img class="tr-img-thumbnail" src="../../img/inf.png">
        <div class="text-right">
            <label class="font-weight-light mb-4">Nasi Uduk</label>
            <div class="row">
                <div class="col d-flex">
                    <i class="feather-32" data-feather="thumbs-up"></i>
                    <small>20</small>
                </div>
                <div class="col d-flex">
                    <i class="feather-32" data-feather="thumbs-down"></i>
                    <small>30</small>
                </div>
                <div class="col d-flex">
                    <i class="feather-32" data-feather="meh"></i>
                    <small>40</small>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between border-bottom border-silver mt-3 pb-3">
        <img class="tr-img-thumbnail" src="../../img/inf.png">
        <div class="text-right">
            <label class="font-weight-light mb-4">Nasi Uduk</label>
            <div class="row">
                <div class="col d-flex">
                    <i class="feather-32" data-feather="thumbs-up"></i>
                    <small>20</small>
                </div>
                <div class="col d-flex">
                    <i class="feather-32" data-feather="thumbs-down"></i>
                    <small>30</small>
                </div>
                <div class="col d-flex">
                    <i class="feather-32" data-feather="meh"></i>
                    <small>40</small>
                </div>
            </div>
        </div>
    </div>
</div>