<div class="tr-container">
    <div class="container d-flex justify-content-between align-items-center tr-header">
        <img src="../../img/logo-vertical.png">
        <div>
            <button>logout</button>
        </div>
    </div>
    <div class="tr-content">
        Tes psikologi atau psikotes adalah bidang yang ditandai dengan penggunaan sampel perilaku untuk menilai
        konstruksi psikologis, seperti fungsi kognitif dan emosional, tentang individu tertentu. Istilah teknis
        untuk
        ilmu di balik tes psikologis adalah Psikometrik. Dengan sampel perilaku, berarti pengamatan dari tugas
        melakukan
        individu yang biasanya telah ditentukan sebelumnya, yang sering berarti nilai pada ujian. Respon ini sering
        dikompilasi ke dalam tabel statistik yang memungkinkan evaluator untuk membandingkan perilaku individu yang
        diuji terhadap tanggapan kelompok norma.
        <br>
        Tes psikologi atau psikotes adalah bidang yang ditandai dengan penggunaan sampel perilaku untuk menilai
        konstruksi psikologis, seperti fungsi kognitif dan emosional, tentang individu tertentu. Istilah teknis
        untuk
        ilmu di balik tes psikologis adalah Psikometrik. Dengan sampel perilaku, berarti pengamatan dari tugas
        melakukan
        individu yang biasanya telah ditentukan sebelumnya, yang sering berarti nilai pada ujian. Respon ini sering
        dikompilasi ke dalam tabel statistik yang memungkinkan evaluator untuk membandingkan perilaku individu yang
        diuji terhadap tanggapan kelompok norma.
        <br>
        Tes psikologi atau psikotes adalah bidang yang ditandai dengan penggunaan sampel perilaku untuk menilai
        konstruksi psikologis, seperti fungsi kognitif dan emosional, tentang individu tertentu. Istilah teknis
        untuk
        ilmu di balik tes psikologis adalah Psikometrik. Dengan sampel perilaku, berarti pengamatan dari tugas
        melakukan
        individu yang biasanya telah ditentukan sebelumnya, yang sering berarti nilai pada ujian. Respon ini sering
        dikompilasi ke dalam tabel statistik yang memungkinkan evaluator untuk membandingkan perilaku individu yang
        diuji terhadap tanggapan kelompok norma.
        <br>
        Tes psikologi atau psikotes adalah bidang yang ditandai dengan penggunaan sampel perilaku untuk menilai
        konstruksi psikologis, seperti fungsi kognitif dan emosional, tentang individu tertentu. Istilah teknis
        untuk
        ilmu di balik tes psikologis adalah Psikometrik. Dengan sampel perilaku, berarti pengamatan dari tugas
        melakukan
        individu yang biasanya telah ditentukan sebelumnya, yang sering berarti nilai pada ujian. Respon ini sering
        dikompilasi ke dalam tabel statistik yang memungkinkan evaluator untuk membandingkan perilaku individu yang
        diuji terhadap tanggapan kelompok norma.
    </div>
</div>